body {
    background-color: rgba(184, 27, 15, 0.937);
    border: 5px solid black; 
    padding-left: 40px;
    font-family: 'PT Serif', serif;
    font-size: large;
}
h1 { 
    text-align: center;
    font-family: 'Lobster', sans-serif;
    color: white;
}
a {
   color: cornsilk;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-image: url("https://t3.ftcdn.net/jpg/05/06/45/36/360_F_506453635_e5Y4hkRll9HUEYb9U2fC7P1dMXH9XCnc.jpg");
    justify-content: space-around;
    flex-direction: row;
}
.flex-container > div {
    width: 320px;
}
h2 { 
    color: papayawhip;
}
h3 { 
    color: rgb(250, 248, 245);
}
h4 { 
    color: lightgray;
    font-size: x-large;
}
.bottom{
    text-align: right;
    padding-right: 80px;
}
.frosting{
    color: burlywood;
}
#about{
    text-align: left;
    padding-bottom: 30px;
    color: white;
}
